<div class="clients">
    <div class="container">
        <div class="clients__header">Наши клиенты</div>
        <div class="clients__client clients__client--1">
            <div class="client__firstci">
                <div class="client__secondci">
                    <div class="client__thirdci">
                        <div class="client__ava"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clients__client clients__client--2">
            <div class="client__firstci">
                <div class="client__secondci">
                    <div class="client__thirdci">
                        <div class="client__ava"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clients__client clients__client--3">
            <div class="client__firstci">
                <div class="client__secondci">
                    <div class="client__thirdci">
                        <div class="client__ava"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clients__client clients__client--4">
            <div class="client__firstci">
                <div class="client__secondci">
                    <div class="client__thirdci">
                        <div class="client__ava"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clients__client clients__client--5">
            <div class="client__firstci">
                <div class="client__secondci">
                    <div class="client__thirdci">
                        <div class="client__ava"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clients__client clients__client--6">
            <div class="client__firstci">
                <div class="client__secondci">
                    <div class="client__thirdci">
                        <div class="client__ava"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clients__client clients__client--7">
            <div class="client__firstci">
                <div class="client__secondci">
                    <div class="client__thirdci">
                        <div class="client__ava"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clients__client clients__client--8">
            <div class="client__firstci">
                <div class="client__secondci">
                    <div class="client__thirdci">
                        <div class="client__ava"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clients__client clients__client--9">
            <div class="client__firstci">
                <div class="client__secondci">
                    <div class="client__thirdci">
                        <div class="client__ava"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clients__client clients__client--10">
            <div class="client__firstci">
                <div class="client__secondci">
                    <div class="client__thirdci">
                        <div class="client__ava"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clients__client clients__client--11">
            <div class="client__firstci">
                <div class="client__secondci">
                    <div class="client__thirdci">
                        <div class="client__ava"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>