<div class="footer">
    <div class="container">
        <div class="footer__info">
            <div class="footer__country">
                <div class="footer__country--header">Украина:</div>
                <div class="footer__country--text">129626, г. Киев,</br> Графский переулок, дом 14,</br> корпус 2, 4 э таж</div>
            </div>
            <div class="footer__country">
                <div class="footer__country--header">Россия:</div>
                <div class="footer__country--text">129626, г. Москва,</br> Графский переулок, дом 14,</br> корпус 2, 4 э таж</div>
            </div>
            <div class="footer__country">
                <div class="footer__country--header">Белорусь:</div>
                <div class="footer__country--text">220114, г. Минск,</br> пр-т Независимости 113</div>
            </div>
            <div class="footer__country">
                <div class="footer__country--header">Китай:</div>
                <div class="footer__country--text">220114, г. Пекин,</br> пр-т Н езависимости 113</div>
            </div>
        </div>
    </div>
</div>