<div class="footer">
    <div class="container">
        <div class="footer__info">
            <div class="footer__country">
                <div class="footer__country--header">Украина:</div>
                <div class="footer__country--text">г. Киев,</br> Мельникова, дом 14, </br>  3 этаж, 113 офис</div>
            </div>
            <div class="footer__country">
                <div class="footer__country--header">Россия:</div>
                <div class="footer__country--text">г. Москва,</br> Графский переулок, дом 14,</br> корпус 2, 4 этаж, 341 офис</div>
            </div>
            <div class="footer__country footer__country--3">
                <div class="footer__country--header">Белорусь:</div>
                <div class="footer__country--text">г. Минск,</br> пр-т Независимости 113,</br>96 офис</div>
            </div>
            <div class="footer__country footer__country--4">
                <div class="footer__country--header">Китай:</div>
                <div class="footer__country--text">c. Beijing,</br>Chaoyang road, Chaoyang district,</br>Yingjiafencun 6, building 6,</br>Room 212</div>
            </div>
        </div>
    </div>
</div>