<div class="header">
    <div class="header__images">
        <div class="header__bgc"></div>
        <div class="header__house">
            <div class="header__contacts">
                <div class="header__contacts--1">
                    <div class="header__contacts--phone">+38(067)5550338</div>
                    <div class="header__contacts--viber">для звонков и VIBER'a</div>
                </div>
                <div class="header__contacts--2">
                    <div class="header__contacts--login">nazaruk777</div>
                    <div class="header__contacts--wechat">wechat</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header__logo">
            <div class="logo__logo"></div>
            <div class="logo__text">РАБОТА УЧИТЕЛЕМ АНГЛИЙСКОГО ЯЗЫКА В</br> САДИКАХ И ТРЕНИНГ ЦЕНТРАХ КИТАЯ
            </div>
        </div>
        <div class="main__textblock">
            <div class="main__textblock--1 main__textblock--common">
                <div class="textblock__header">Знаете английский и хотите получать хорошие деньги и путешествовать?
                </div>
                <div class="textblock__price">
                    НАЧНИТЕ ЗАРАБАТЫВАТЬ ОТ <span class="textblock__price--bgc">1500$ ДО 3000$ </span>УЖЕ ЧЕРЕЗ НЕДЕЛЮ!
                </div>
            </div>
            <div class="main__textblock--2 main__textblock--common">
                <div class="contact__mobile">
                    <div class="contact__mobile--phone">+38(067)5550338</div>
                    <div class="contact__mobile--viber">для звонков и VIBER'a</div>
                    <div class="contact__mobile--login">nazaruk777</div>
                    <div class="contact__mobile--wechat">wechat</div>
                </div>
                <div class="form__header">
                    Оставьте заявку на <span class="form__header--bold">бесплатную</span> консультацию прямо сейчас
                </div>
                <form action="" id="header__form">
                    <div class="form__name">Имя</div>
                    <input type="text" name="name" id="" class="form__input" placeholder="Введите имя">
                    <div class="form__phone">Телефон</div>
                    <input type="text" name="phone" id="" class="form__input" placeholder="+3 80(__) __ ___ __">
                    <button class="form__btn">СВЯЖИТЕСЬ СО МНОЙ</button>
                    <div class="form__callback">Мы скоро с Вами свяжемся</div>
                </form>
            </div>
        </div>
        <div class="header__who">
            <div class="who__textblock">
                <div class="who__header">Кто мы?</div>
                <div class="who__text">YETC - это компания предоставляющая возможность жить и зарабатывать в Китае. мы компания, которая занимается
                    подбором, подготовкой, помощью в трудоустройстве и сопровождением кадров для учебных заведений на территории
                    КНР
                </div>
                <div class="social__block">
                    <div class="social__icon social__vk">
                        <div class="social__text">Мы Вконтакте</div><a href="https://vk.com/y_e_t_c" target="_blanc" class="social__link"></a></div>
                    <!--<div class="social__icon social__fb"><a href="#" target="_blanc" class="social__link"></a></div>
                    <div class="social__icon social__in"><a href="#" target="_blanc" class="social__link"></a></div>-->
                </div>
            </div>
            <div class="who__images">
                <div class="images__border"></div>
                <div class="js-Carousel" id="carousel">
                    <ul>
                        <li><img src="img/slide-1.jpg" alt=""></li>
                        <li><img src="img/slide-2.jpg" alt=""></li>
                        <li><img src="img/slide-3.jpg" alt=""></li>
                        <li><img src="img/slide-4.jpg" alt=""></li>
                        <li><img src="img/slide-5.jpg" alt=""></li>
                        <li><img src="img/slide-6.jpg" alt=""></li>
                        <li><img src="img/slide-7.jpg" alt=""></li>
                        <li><img src="img/slide-8.jpg" alt=""></li>
                        <li><img src="img/slide-9.jpg" alt=""></li>
                        <li><img src="img/slide-10.jpg" alt=""></li>
                        <li><img src="img/slide-11.jpg" alt=""></li>
                        <li><img src="img/slide-12.jpg" alt=""></li>
                        <li><img src="img/slide-13.jpg" alt=""></li>
                        <li><img src="img/slide-14.jpg" alt=""></li>
                        <li><img src="img/slide-15.jpg" alt=""></li>
                        <li><img src="img/slide-16.jpg" alt=""></li>
                        <li><img src="img/slide-17.jpg" alt=""></li>
                        <li><img src="img/slide-18.jpg" alt=""></li>
                        <li><img src="img/slide-19.jpg" alt=""></li>
                        <li><img src="img/slide-20.jpg" alt=""></li>
                        <li><img src="img/slide-21.jpg" alt=""></li>
                        <li><img src="img/slide-22.jpg" alt=""></li>
                        <li><img src="img/slide-23.jpg" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>