<div class="header">
    <div class="header__images">
        <div class="header__bgc"></div>
        <div class="header__house"></div>
    </div>
    <div class="container">
        <div class="header__logo">
            <div class="logo__logo"></div>
            <div class="logo__text">РАБОТА УЧИТЕЛЕМ АНГЛИЙСКОГО ЯЗЫКА В САДИКАХ И ТРЕНИНГ ЦЕНТРАХ КИТАЯ
            </div>
        </div>
        <div class="main__textblock">
            <div class="main__textblock--1 main__textblock--common">
                <div class="textblock__header">Знаете английский и хотите получать хорошие деньги и путешествовать?
                </div>
                <div class="textblock__price">
                    НАЧНИТЕ ЗАРАБАТЫВАТЬ ОТ <span class="textblock__price--bgc">1500$ ДО 3000$ </span>УЖЕ ЧЕРЕЗ НЕДЕЛЮ!
                </div>
            </div>
            <div class="main__textblock--2 main__textblock--common">
                <div class="form__header">
                    Оставьте заявку на бесплатную консультацию прямо сейчас
                </div>
                <form action="" id="header__form">
                    <div class="form__name">Имя</div>
                    <input type="text" name="name" id="" class="form__input" placeholder="Введите имя">
                    <div class="form__phone">Телефон</div>
                    <input type="text" name="phone" id="" class="form__input" placeholder="+3 80(__) __ ___ __">
                    <button class="form__btn">СВЯЖИТЕСЬ СО МНОЙ</button>
                </form>
            </div>
        </div>
        <div class="header__who">
            <div class="who__textblock">
                <div class="who__header">Кто мы?</div>
                <div class="who__text">YETC - это компания предоставляющая возможность жить и зарабатывать в Китае. мы компания, которая занимается
                    подбором, подготовкой, помощью в трудоустройстве и сопровождением кадров для учебных заведений на территории
                    КНР
                </div>
            </div>
            <div class="who__images"></div>
        </div>
    </div>
</div>