<div class="pfooter">
    <div class="container">
        <div class="pfooter__text">Хотите наш менеджер ответит на все оставшиеся вопросы?</div>
        <div class="pfooter__form">
            <form action="" id="header__form">
                    <div class="form__name">Имя</div>
                    <input type="text" name="name" id="" class="form__input" placeholder="Введите имя">
                    <div class="form__phone">Телефон</div>
                    <input type="text" name="phone" id="" class="form__input" placeholder="+3 80(__) __ ___ __">
                    <button class="form__btn">СВЯЖИТЕСЬ СО МНОЙ</button>
                </form>
        </div>
    </div>
</div>