<div class="question">
    <div class="container">
        <div class="question__header">Популярные вопросы</div>
        <div class="question__block">
           <div class="question__question question__question--1">
               <div class="question__mark"></div>
               <div class="question__firstbl">Нужно ли иметь профильное образование?</div>
               <div class="question__secondbl">- Нет, по програме YETC может поехать любой человек знающий английский .</div>
           </div>
           <div class="question__question question__question--2">
               <div class="question__mark"></div>
               <div class="question__firstbl">Как быстро я смогу выехать?</div>
               <div class="question__secondbl">- При последовательном выполнении всех наших инструкций поехать вы сможете уже через неделю.</div>
           </div>
           <div class="question__question question__question--3">
               <div class="question__mark"></div>
               <div class="question__firstbl">Нужно ли знание Китайского языка?</div>
               <div class="question__secondbl">- Знание китайского языка абсолютно не обязательно.</div>
           </div>
           <div class="question__question question__question--4">
               <div class="question__mark"></div>
               <div class="question__firstbl">Какой уровень английского мне нужен?</div>
               <div class="question__secondbl">- Свободного английского без очевидного акцента вполне достаточно.</div>
           </div>
           <div class="question__question question__question--5">
               <div class="question__mark"></div>
               <div class="question__firstbl">Что делать если я без опыта работы?</div>
               <div class="question__secondbl">- Опыт работы не обязателен, гораздо важнее желание развиваться.</div>
           </div>
        </div>
    </div>
</div>