<div class="start">
    <div class="container">
        <div class="start__header">С чего начать?</div>
        <div class="start__block">
            <div class="start__block--item">
                <div class="start__block--item1">
                    <div class="start__sota start__sota--1">1</div>
                    <div class="start__item--header">Оставляйте заявку</div>
                    <form action="" id="start__form">
                    <div class="form__name">Имя</div>
                    <input type="text" name="name" id="" class="form__input" placeholder="Введите имя">
                    <div class="form__phone">Телефон</div>
                    <input type="text" name="phone" id="" class="form__input" placeholder="+3 80(__) __ ___ __">
                    <button class="form__btn">СВЯЖИТЕСЬ СО МНОЙ</button>
                </form>
                </div>
            </div>
            <div class="start__block--item">
                <div class="start__block--item2">
                    <div class="start__item--text">
                        Оставляете Ваше видео’’<span class="start__text--red">self-introduction</span>’’ и резюме на английском языке.
                    </div>
                    <div class="start__sota start__sota--2">2</div>
                </div>
                <div class="start__block--item3">
                    <div class="start__item--text"><span class="start__text--red">Оформление документов</span>,  вылет в Китай, встреча в аэропорту, трудоустройство.</div>
                    <div class="start__sota start__sota--3">4</div>
                </div>
            </div>
            <div class="start__block--item">
                <div class="start__block--item4">
                    <div class="start__item--text">Сотрудник нашей компании, <span class="start__text--red">дистанционно</span>, готовит с Вами материалы необходимые для трудоустройства </div>
                    <div class="start__sota start__sota--4">3</div>
                </div>
                <div class="start__block--item5">
                    <div class="start__item--text"><span class="start__text--red">Сопровождение</span> Вашего пребывания и работы на протяжении контракта.</div>
                    <div class="start__sota start__sota--5">5</div>
                </div>
            </div>
        </div>
    </div>
    <div class="start__images"><div class="start_air"></div></div>
</div>