<div class="variant">
    <div class="variant_bgc"></div>
    <div class="container">
        <div class="variant__header">Варианты сотрудничества</div>
        <div class="variant__block">
            <div class="variant__block--item variant__block--1">
                <div class="var__item--border"></div>
                <div class="var__item--header">Cпонсорство yetc</div>
                <div class="var__item--price">
                    <div class="var__item--price-pr">$150</div>
                    <div class="var__item--price-text">Комиссия: отсуствует</div>
                </div>
                <div class="var__item--list">
                    <div class="var__item--list-head">ВСЕ ПУНКТЫ ИЗ ПАКЕТА "СТАНДАРТ"+:</div>
                    <div class="var__item--list-common var__item--list-1">Оплату перелёта до/из Китая </div>
                    <div class="var__item--list-common var__item--list-2">Трансфер из/до аэропорта</div>
                    <div class="var__item--list-common var__item--list-3">Оформление и оплата нами:</div>
                    <div class="var__item--list-common var__item--list-4">- визы на 12 месяцев.</div>
                    <div class="var__item--list-common var__item--list-5">- банковской карты.</div>
                    <div class="var__item--list-common var__item--list-6">- проездной на все виды транспорта</div>
                    <div class="var__item--list-common var__item--list-7">- сим-карты.</div>
                </div>
                <div class="var__item--footer">
                    <div class="var__item--footer-head">ЕЖЕМЕСЯЧНАЯ ВЫПЛАТА З/П</div>
                    <div class="var__item--list-price">от <span class="list-price__big">$700</span>до <span class="list-price__big">$1000</span></div>
                    <div class="var__item--foot">проживанием и питанием (+600-1000$ на частных уроках).</div>
                </div>
            </div>
            <div class="variant__block--item variant__block--2">
                <div class="var__item--border"></div>
                <div class="var__item--header">Cтандарт</div>
                <div class="var__item--price">
                    <div class="var__item--price-pr">$500</div>
                    <div class="var__item--price-text">Комиссия: 500$ (200$ перед подготовкой, 300$ с первой з/п)</div>
                </div>
                <div class="var__item--list">
                    <div class="var__item--list-head">ВКЛЮЧАЕТ</div>
                    <div class="var__item--list-common var__item--list-8">Юридическое и бухгалтерское сопровождение на протяжении контракта; </div>
                    <div class="var__item--list-common var__item--list-9"> Консультации, тренинги по<br> подготовке к демо-уроку и трудоустройству (дистанционно, стационарно);</div>
                    <div class="var__item--list-common var__item--list-10">Консультация по всем вопросам из пакета "Спонсорство YETC";</div>
                    <!--<div class="var__item--list-common var__item--list-11">Бонус по истечению контракта.</div> -->
                </div>
                <div class="var__item--footer">
                    <div class="var__item--footer-head">ЕЖЕМЕСЯЧНАЯ ВЫПЛАТА З/П</div>
                    <div class="var__item--list-price">от <span class="list-price__big">$1000</span> до <span class="list-price__big">$1300</span></div>
                    <div class="var__item--foot">с проживанием и питанием, +$300 без жилья (+800-1200$ на частных уроках).</div>
                </div>
            </div>
            <div class="variant__block--item variant__block--3">
                <div class="var__item--border"></div>
                <div class="var__item--header">Премиум</div>
                <div class="var__item--price">
                    <div class="var__item--price-pr">$1000</div>
                    <div class="var__item--price-text">Комиссия: 1000$ (возможна оплата частями)</div>
                </div>
                <div class="var__item--list">
                    <div class="var__item--list-head">ВСЕ ПУНКТЫ ИЗ ПАКЕТА "СТАНДАРТ"+: </div>
                    <div class="var__item--list-common var__item--list-12">Личный помощник на все время пребывания 24/7;
                    </div>
                    <div class="var__item--list-common var__item--list-13">Оплаченный трансфер из/до аэропорта на авто бизнес-класса;
                    </div>
                    <div class="var__item--list-common var__item--list-14">Оплаченное проживание до трудоустройства;</div>
                    <div class="var__item--list-common var__item--list-15">Оплаченная SIM-карта (звонки/Интернет);
                    </div>
                    <div class="var__item--list-common var__item--list-16">Экскурсия по городу.</div>
                </div>
                <div class="var__item--footer">
                    <div class="var__item--footer-head">ЕЖЕМЕСЯЧНАЯ ВЫПЛАТА З/П</div>
                    <div class="var__item--list-price">от <span class="list-price__big">$1000</span> до <span class="list-price__big">$1300</span></div>
                    <div class="var__item--foot">с проживанием и питанием, +$300 без жилья (+1500$ на частных уроках)</div>
                    <div class="added__text">* для кандидатов требующих повышенный комфорт</div>
                </div>
            </div>
            <div class="mobile-var-block"></div>
        </div>
        <div class="variant__requirement">
            <div class="requirement__block--1">
                <div class="requirement__block--head">Требования:</div>
                <div class="requirement__block--text">* Для тех кто решился</div>
            </div>
            <div class="requirement__block--2">
                <div class="requirement__block--2text">
                    <span class="block--2text-red">Желание: </span>Трудиться/Зарабатывать;</br>
                    <span class="block--2text-red">Мотивация:</span> привезти денег и изменить жизнь;</br>
                    <span class="block--2text-small">*Желательно: Быть готовым у путешествиям;</span></br>
                    <span class="block--2text-red">Опыт работы:</span> не обязателен</br>
                    <span class="block--2text-red">Возраст: </span> от 18 лет
                </div>
            </div>
        </div>
    </div>
</div>