@import '_strict-reset';
@import "_variables";

// Media-queries mixin. Mobile first method
@mixin respond-to($media) {
    @if $media == mobile {
        @media (min-width: 480px) and (max-width: 767px){ @content; }
    }
    @else if $media == tablet {
        @media (min-width: 768px) and (max-width: 1139px) { @content; }
    }
    @else if $media == small {
        @media (min-width: 320px) and (max-width: 479px) { @content; }
    }
}

//
// @mixin desktop {
//     @include respond-to(desktop) {
//         @content
//             }
//     .old-ie & {
//         @content
//             }
// }

// Background mixin
@mixin background {
    background: {
        position: center center;
        size: cover;
    }
}

// Utility classes
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    margin: auto;
}
.container {
    font-family: 'Exo 2', sans-serif;
    position: relative;
    width: 1280px;
    // min-width: 1200px;
    margin: 0 auto;
    height: 100%;
    z-index: 50;
    // overflow: hidden;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 40px;
    padding-right: 40px;
}
::-webkit-input-placeholder {
    color: #8C8C8C;
    opacity: 1;
}

::-moz-placeholder {
    color: #8C8C8C;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #8C8C8C;
    opacity: 1;
}

::placeholder {
    color: #8C8C8C;
    opacity: 1;
}
input:focus {
border-color: red;
}