.footer {
    height: 621px;
    background-image: url(../img/footer_bgc.png);
    @include background;
    width: 1200px;
    padding-top: 219px;
}
.footer__info {
    width: 100%;
    display: flex;
    height: 220px;
    // margin-top: 219px;
    background-color: rgba(255,255,255, 0.75);
    padding-left: 39px;
    justify-content: space-between;
}
.footer__country {
    width: 289px;
    height: 100%;
    padding-top: 48px;
}
.footer__country--3 {
    width: 220px;
}
.footer__country--4 {
width: 310px;
}
.footer__country--header {
    font-size: 24px;
    margin-bottom: 10px;
}
.footer__country--text {
    line-height: 26px;
font-size: 18px;
}