// @import "_variables";
// @import "_utils";

.header {
    height: 1300px;
    // width: 100vw;
    min-width: 1280px;
    position: relative;
    overflow: hidden; 
    // display: flex;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    flex-direction: column;
}
.header__bgc {
    position: absolute;
    height: 1300px;
    width: 1107px;
    // left: -360px;
    background-image: url(../img/header_bgc.png);
    @include background;
}
.header__house {
    position: absolute;
    height: 99px;
    width: 846px;
    top: 96px;
    right: -31px;
    background-image: url(../img/header_house.png);
    @include background;
}
.header__images {
    position: absolute;
    width: 1920px;
    align-self: center;
    // position: absolute;
    // left: -360px;
    height: 1300px;
}
.header__logo {
    margin-top: 31px;
    height: 42px;
    display: flex;
}
.logo__logo {
    display: inline-block;
    height: 42px;
    width: 174px;
    background-image: url(../img/logo.png);
    @include background;
    margin-right: 46px;
}
.logo__text {
    font-family: 'Jura', sans-serif;
    display: inline-block;
    height: 42px;
    width: 540px;
    line-height: 21px;
    letter-spacing: 3.12px;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
}
.main__textblock {
    display: flex;
    margin-top: 175px;
    color: #fff;

}
.main__textblock--1 {
    width: 624px;
    margin-right: 176px;
    padding-top: 15px;
}
.main__textblock--2 {
    width: 250px;
    // background-color: #eee;
}
// .main__textblock--common {
//     flex-grow: 1;
// }
.textblock__header {
    font-size: 24px;
    font-weight: 600;
    line-height: 38px;
}
.textblock__price {
    margin-top: 30px;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 60px;
    font-weight: 800;
}
.textblock__price--bgc {
    background-color: #fff;
    color: #D7172D;
    padding-left: 7px;
    margin-right: 10px;
}
.form__header {
    font-size: 18px;
    color: #CC242A;
    line-height: 22px;
    font-weight: 400;
}
.form__header--bold {
    font-weight: 600;
}
.form__name,
.form__phone {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #000;
    margin-top: 20px
}
.form__name {
    margin-top: 40px;
}
.form__input {
    margin-top: 8px;
    width: 250px;
    height: 34px;
    border: 1px solid #C7C7C7;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 14px;
}
.form__btn {
    display: inline-block;
    width: 250px;
    margin-top: 57px;
    height: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    background: linear-gradient(to right,#9e139a,#df1A38);
    border-radius: 4px;
}
.header__who {
    margin-top: 116px;
    height: 700px;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    padding-top: 50px;
    padding-left: 80px;
    display: flex;
}
.who__textblock {
    display: inline-block;
    width: 385px;
    margin-right: 92px;
}
.who__header {
    font-size: 40px;
    font-weight: 700;
}
.who__text {
    font-weight: 400;
    font-size: 18px;
    margin-top: 30px;
    line-height: 28px;
}
.who__images {
    display: inline-block;
    position: relative;
    width: 636px;
    height: 478px;
    background-color: #eee;
}
.images__border {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: 10px solid #720011;
	border-image: linear-gradient(to right top, #5C0059 0%, #720011 100%);
	border-image-slice: 1;
    z-index: 100;
}

.b-carousel {
	width: 100%;
	overflow: hidden;
	position: relative;
    height: 100%;
	box-sizing: border-box;
	// border: 1px solid;
}

	.b-carousel__prev,
	.b-carousel__next {
		position: absolute;
		top: 50%;
		left: 20px;
		width: 50px;
		height: 50px;
		background: #fff;
		transform: translateY(-50%) translateZ(0);
		cursor: pointer;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		z-index: 3;
        display: none;
	}

		.b-carousel__next {
			left: auto;
			right: 20px;
		}

	.b-carousel__wrap {
		display: flex;
		transition: transform .5s;
		will-change: transform;
		position: relative;
		z-index: 1;
		height: 100%;
	}

		.b-carousel__item {
			flex: 0 0 100%;
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;
		}

.s-notransition {
	transition: 0s;
}
			.b-carousel__img {
				width: 100%;
				display: block;
                height: 100%;
                @include background;
                
			}
.carousel__slide--1 {
    background-image: url(../img/slide-1.jpg);
}
.carousel__slide--2 {
    background-image: url(../img/slide-4.jpg);
}
.carousel__slide--3 {
    background-image: url(../img/slide-5.jpg);
}
.carousel__slide--4 {
    background-image: url(../img/slide-6.jpg);
}
.carousel__slide--5 {
    background-image: url(../img/slide-7.jpg);
}
.carousel__slide--6 {
    background-image: url(../img/slide-8.jpg);
}
.carousel__slide--7 {
    background-image: url(../img/slide-9.jpg);
}
.carousel__slide--8 {
    background-image: url(../img/slide-10.jpg);
}
.carousel__slide--9 {
    background-image: url(../img/slide-11.jpg);
}
.carousel__slide--10 {
    background-image: url(../img/slide-12.jpg);
}
.carousel__slide--11 {
    background-image: url(../img/slide-13.jpg);
}
.carousel__slide--12 {
    background-image: url(../img/slide-14.jpg);
}
