.question {
    padding-top: 106px;
    min-width: 1280px;
    @include respond-to(tablet) {
        min-width: 640px;
        
     }
    @include respond-to(small) {
        min-width: 320px;
        
     }
}
.question__header {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    @include respond-to(tablet) {
        font-size: 60px;
        line-height: 67px;
     }
    @include respond-to(small) {
        font-size: 30px;
        line-height: 34px;
     }
}
.question__block {
    display: flex;
    margin-top: 65px;
    justify-content: space-between;
    @include respond-to(tablet) {
        flex-direction: column;
        margin-top: 85px;
     }
    @include respond-to(small) {
        flex-direction: column;
        margin-top: 43px;
     }
}
.question__question {
    width: 15%;
    // background-color: #eee;
    @include respond-to(tablet) {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 80px;
     }
    @include respond-to(small) {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 40px;
     }
}
.question__mark {
    width: 21px;
    height: 22px;
    background-image: url(../img/q_mark.png);
    @include background;
    @include respond-to(tablet) {
        width: 42px;
        height: 43px;
        
     }
    @include respond-to(small) {
        width: 21px;
        height: 22px;
        
     }
}
.question__firstbl {
    margin-top: 18px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    min-height: 75px;
    @include respond-to(tablet) {
        font-size: 36px;
        line-height: 45px;
        text-align: center;
        margin-top: 34px;
        min-height: auto;
     }
    @include respond-to(small) {
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        margin-top: 17px;
        min-height: auto;
     }
}
.question__secondbl {
    color: #CC242A;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 14px;
    @include respond-to(tablet) {
        margin-top: 32px;
        font-size: 36px;
        line-height: 45px;
        text-align: center;
     }
    @include respond-to(small) {
        margin-top: 16px;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
     }
}