.start {
    height: 988px;
    margin-top: 130px;
    // width: 100vw;
    min-width: 1280px;
    // display: flex;
    overflow: hidden;
    position: relative;
    @include respond-to(tablet) {
        min-width: 640px;
        margin-top: 177px;
        padding-top: 63px;
        height: auto;
        padding-bottom: 296px;
     }
    @include respond-to(small) {
        min-width: 320px;
        margin-top: 88px;
        padding-top: 32px;
        height: auto;
        padding-bottom: 148px;
     }
}
.start__header {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    @include respond-to(tablet) {
        font-size: 60px;
        line-height: 67px;
        color: #fff;
     }
    @include respond-to(small) {
        font-size: 30px;
        line-height: 34px;
        color: #fff;
     }
}
.start__images {
    position: absolute;
    width: 100%;
    // min-width: 1920
    align-self: center;
    height: 710px;
    bottom: 0;
    // background-color: #eee;
    background: linear-gradient(to right, #9E139A, #DF1A38);
    @include respond-to(tablet) {
        height: 100%;
     }
    @include respond-to(small) {
        height: 100%;
     }
}
.start_air {
    width: 100%;
    height: 363px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(../img/start_air.png);
    @include background;
    @include respond-to(tablet) {
        height: 139px;
     }
    @include respond-to(small) {
        height: 79px;
     }
}
.start__block {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    // height: 500px;
    @include respond-to(tablet) {
        flex-direction: column;
     }
    @include respond-to(small) {
        flex-direction: column;
     }
}
.start__block--item {
    width: 350px;
    height: 100%;
    // background-color: #eee;
    @include respond-to(tablet) {
        width: 600px;
     }
    @include respond-to(small) {
        width: 300px;
     }
}
.start__block--item1 {
    padding-top: 38px;
    width: 100%;
    height: 475px;
    background-color: #fff;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.06);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    & .form__btn {
        color: #fff;
    }
    @include respond-to(tablet) {
        height: auto;
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 80px;
        border-radius: 4px;
        width: 600px;
        margin-left: -20px;
     }
    @include respond-to(small) {
        height: auto;
        padding-top: 25px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 40px;
        border-radius: 4px;
        margin-left: -10px;
     }
}
.start__item--header {
    font-size: 24px;
    margin-top: 10px;
    font-weight: 600;
    @include respond-to(tablet) {
        font-size: 38px;
     }
    @include respond-to(small) {
        font-size: 19px;
     }
}
.start__block--item2,
.start__block--item3,
.start__block--item4,
.start__block--item5 {
    font-size: 24px;
    font-weight: 300;
    margin-top: 72px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    width: 100%;
    height: 227px;
    background-color: #fff;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.06);
    position: relative;
    line-height: 30px;
    @include respond-to(tablet) {
        font-size: 38px;
        line-height: 51px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 4px;
        margin-left: -20px;
     }
    @include respond-to(small) {
        font-size: 19px;
        line-height: 26px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 4px;
        padding-top: 15px;
        margin-left: -10px;
     }
}
.start__block--item2 {
    height: 300px;
    @include respond-to(tablet) {
        margin-top: 20px;
     }
    @include respond-to(small) {
        margin-top: 10px;
        height: 150px;
     }
}
.start__block--item3 {
    margin-top: 58px;
    @include respond-to(tablet) {
        margin-top: 20px;
        height: 351px;
     }
    @include respond-to(small) {
        margin-top: 20px;
        height: 175px;
     }
}
.start__block--item4 {
    margin-top: 146px;
    height: 265px;
    @include respond-to(tablet) {
        margin-top: 20px;
        height: 360px;
     }
    @include respond-to(small) {
        margin-top: 10px;
        height: 180px;
     }
}
.start__block--item5  {
    height: 216px;
    @include respond-to(tablet) {
        margin-top: 20px;
        height: 300px;
     }
    @include respond-to(small) {
        margin-top: 10px;
        height: 150px;
     }
}
.start__sota {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 44px;
    background-image: url(../img/sota.png);
    @include background;
    color: #fff;
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    right: 40px;
    font-weight: 700;
    @include respond-to(tablet) {
        width: 96px;
        height: 80px;
        font-size: 52px;
        right: 30px;
     }
    @include respond-to(small) {
        width: 48px;
        height: 40px;
        font-size: 26px;
        right: 15px;
     }
}
.start__sota--1 {
    position: static;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    @include respond-to(tablet) {
        flex-direction: column;
        margin-bottom: 37px;
     }
    @include respond-to(small) {
        flex-direction: column;
        margin-bottom: 18px;
     }
}
.start__text--red {
    color: #CC242A;
}
#start__form {
    @include respond-to(tablet) {
        width: 100%;
        & .form__phone {
            margin-top: 59px;
        }
        & .form__btn {
            margin-top: 56px;
        }
    }
    @include respond-to(small) {
        width: 100%;
        & .form__phone {
            margin-top: 29px;
        }
        & .form__btn {
            margin-top: 28px;
        }
    }
}