.variant {
    height: 1596px;
    // width: 100vw;
    position: relative;
    overflow: hidden; 
    display: flex;
    padding-top: 67px;
    min-width: 1280px;
    @include respond-to(tablet) {
        // display: none;
        padding-top: 59px;
        min-width: 640px;
        height: auto;
        padding-bottom: 141px;
     }
    @include respond-to(small) {
        // display: none;
        padding-top: 30px;
        height: auto;
        min-width: 320px;
        padding-bottom: 70px;
     }
}
.variant_bgc {
    top: 0;
    position: absolute;
    width: 100%;
    align-self: center;
    height: 781px;
    background-color: #F9F9F9;
    @include respond-to(tablet) {
       height: 1572px;
     }
    @include respond-to(small) {
       height: 786px;
     }
}
.variant__header {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    @include respond-to(tablet) {
       font-size: 60px;
       line-height: 71px;
     }
    @include respond-to(small) {
        font-size: 30px;
       line-height: 36px;
     }
}
.variant__block {
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include respond-to(tablet) {
    width: 640px;
    overflow-y: hidden;
    overflow-x: auto;
    height: 1644px;
    position: relative;
    margin-left: -20px;
    padding-bottom: 100px;
    }
    @include respond-to(small) {
    width: 320px;
    overflow-y: hidden;
    overflow-x: auto;
    height: 822px;
    position: relative;
    margin-left: -10px;
    padding-bottom: 50px;
    }
}
.mobile-var-block {
    display: none;
           height: 100%;
    min-width: 1px;
    background-color: transparent;
   @include respond-to(tablet) {
       display: block;
    }
    @include respond-to(small) {
        display: block;
    } 
}
.variant__block--item {
    width: 350px;
    // height: 855px;
    background-color: #fff;
    border: 1px solid #E2E3E5;
    color: #DB2F56;
    @include respond-to(tablet) {
        height: 100%;
    min-width: 560px;
    margin-right: 30px;
    }
    @include respond-to(small) {
    height: 100%;
    min-width: 280px;
    margin-right: 15px;
    }
}
.var__item--border {
    width: 100%;
    height: 8px;
        background: linear-gradient(to right,#9e139a,#df1A38);
}
.var__item--header {
    height: 77px;
    display: flex;
    font-size: 24px;
    font-weight: 600;
    color: #DB2F56;
    box-sizing: border-box;
    border-bottom: 1px solid #E2E3E5;
    align-items: center;
    justify-content: center;
    @include respond-to(tablet) {
        height: 105px;
        font-size: 38px;
    }
    @include respond-to(small) {
        font-size: 19px;
        height: 52px;
    }
}
.variant__block--3 .var__item--border {
    background: transparent;
}
.variant__block--3 {
    background: linear-gradient(to right,#9e139a,#df1A38);
    color: #fff;
}
.variant__block--3 .var__item--header {
    color: #fff;
}
.var__item--price {
    height: 168px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    // border-top: 1px solid #E2E3E5;
    border-bottom: 1px solid #E2E3E5;
     @include respond-to(tablet) {
        height: 266px;
    }
    @include respond-to(small) {
        height: 133px;
    }
}
.var__item--price-pr {
    margin-top: 40px;
    font-size: 24px;
    font-weight: 600;
     @include respond-to(tablet) {
        font-size: 38px;
        line-height: 45px;
        margin-top: 35px;
    }
    @include respond-to(small) {
        font-size: 19px;
        line-height: 23px;
        margin-top: 17px;
    }
}
.var__item--list {
    height: 350px;
    border-bottom: 1px solid #E2E3E5;
    @include respond-to(tablet) {
       height: 712px;
     }
    @include respond-to(small) {
       height: 356px;
     }
}
.variant__block--3 .var__item--list,
.variant__block--3 .var__item--header,
.variant__block--3 .var__item--price {
    border-bottom: 1px solid rgba(255,255,255,0.25);
}
.var__item--price-text {
    font-size: 18px;
    margin-top: 22px;
    line-height: 26px;
    color: #666666;
    text-align: center;
    width: 80%;
     @include respond-to(tablet) {
        font-size: 32px;
        line-height: 45px;
        margin-top: 61px;
        width: 90%;
    }
    @include respond-to(small) {
        font-size: 16px;
        line-height: 23px;
        margin-top: 30px;
        width: 90%;
    }
}
.variant__block--3 .var__item--price-text {
    color: #fff;
}
.var__item--list {
    display: flex;
    flex-direction: column;
    // align-items: center;
}
.variant__block--2 .var__item--list-head {
    margin-top: 26px;
     @include respond-to(tablet) {
        margin-top: 30px;
    }
    @include respond-to(small) {
        margin-top: 15px;
    }
}
.variant__block--3 .var__item--list-head {
    color: #fff;
}
.var__item--list-head {
    font-size: 16px;
    color: #000;
    margin-top: 29px;
    text-align: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    line-height: 19px;
    font-weight: 600;
    height: 38px;
     @include respond-to(tablet) {
         height: 80px;
        font-size: 28px;
        line-height: 40px;
        margin-top: 32px;
    }
    @include respond-to(small) {
        height: 40px;
        margin-top: 16px;
        font-size: 14px;
        line-height: 20px;
    }
}
.var__item--list-common {
    margin-left: 19px;
    font-size: 16px;
    color: #000;
    margin-top: 14px;
    padding-left: 30px;
    background-image: url(../img/sota-small-color.png);
    background-position: 0 7px;
    background-repeat: no-repeat;
    background-size: 10px;
    line-height: 22px;
     @include respond-to(tablet) {
        font-size: 32px;
        line-height: 44px;
        margin-left: 23px;
        padding-right: 20px;
        margin-top: 22px;
    }
    @include respond-to(small) {
        font-size: 16px;
        line-height: 22px;
        margin-left: 12px;
        padding-right: 10px;
        margin-top: 11px;
    }
}
.var__item--list-4,
.var__item--list-5,
.var__item--list-6,
.var__item--list-7 {
    background-image: none;
}
.variant__block--3 .var__item--list-common {
    background-image: url(../img/sota_small-white.png);
    color: #fff;
}
.var__item--footer {
    position: relative;
}
.var__item--footer-head {
    margin-top: 28px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 44px;
    font-weight: 600;
    line-height: 19px;
     @include respond-to(tablet) {
        font-size: 28px;
        margin-top: 53px;
        margin-bottom: 85px;
    }
    @include respond-to(small) {
        font-size: 14px;
        margin-top: 26px;
        margin-bottom: 42px;
    }
}
.var__item--list-price {
    font-size: 16px;
    color: #000;
    text-align: center; 
    font-weight: 600;
     @include respond-to(tablet) {
        font-size: 23px;
    }
    @include respond-to(small) {
        font-size: 12px;
    }
}
.list-price__big  {
    font-size: 40px;
    margin-right: 5px;
    margin-left: 5px;
     @include respond-to(tablet) {
        font-size: 60px;
    }
    @include respond-to(small) {
        font-size: 30px;
    }
}
.var__item--foot {
    color: #666666;
    font-size: 18px;
    text-align: center;
    margin-top: 38px;
    width: 85%;
    line-height: 26px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
     @include respond-to(tablet) {
        font-size: 32px;
        line-height: 45px;
        margin-top: 48px;
    }
    @include respond-to(small) {
        font-size: 16px;
        line-height: 23px;
        margin-top: 24px;
    }
}
.variant__block--3 .var__item--foot {
    color: #FFE9EA;
}
.variant__block--3 .var__item--list-price {
    color: #fff;
}
.variant__requirement {
    height: 242px;
    background-color: #F9F9F9;
    margin-top: 121px;
    display: flex;
    padding-left: 76px;
    @include respond-to(tablet) {
       height: auto;
       flex-direction: column;
       width: 100%;
       padding-left: 0;
       background-color: #fff;
       margin-top: 132px;
     }
    @include respond-to(small) {
       height: auto;
       flex-direction: column;
       width: 100%;
       padding-left: 0;
       background-color: #fff;
       margin-top: 66px;
     }
}
.requirement__block--1 {
    width: 239px;
    padding-top: 65px;
    margin-right: 108px;
    @include respond-to(tablet) {
       padding-top: 0;
     }
    @include respond-to(small) {
       padding-top: 0;
     }
}
.requirement__block--head {
    font-size: 24px;
    font-weight: 600;
    @include respond-to(tablet) {
       font-size: 38px;
     }
    @include respond-to(small) {
       font-size: 19px;
     }
}
.requirement__block--text {
    font-size: 16px;
    line-height: 22px;
    margin-top: 9px;
    font-weight: 400;
    @include respond-to(tablet) {
       display: none;
     }
    @include respond-to(small) {
       display: none;
     }
}
.requirement__block--2text {
    padding-top: 49px;
    line-height: 26px;
    font-size: 18px;
    @include respond-to(tablet) {
       padding-top: 39px;
       font-size: 32px;
       line-height: 60px;
     }
    @include respond-to(small) {
       padding-top: 20px;
       font-size: 16px;
       line-height: 30px;
     }
}
.block--2text-red {
    font-weight: 600;
    color: #DF1A38;
}
.block--2text-small {
    font-size: 14px;
    @include respond-to(tablet) {
        font-size: 32px;
     }
    @include respond-to(small) {
        font-size: 15px;
     }
}
.added__text {
    position: absolute;
    font-size: 14px;
    color: #959595;
    width: 80%;
    bottom: -70px;
    left: 10%;
    line-height: 17px;
    text-align: center;
    @include respond-to(tablet) {
       bottom: -100px;
       font-size: 32px;
       line-height: 38px;
     }
    @include respond-to(small) {
       bottom: -30px;
       font-size: 16px;
       line-height: 19px;
     }
    
}